.square {
  fill: #ff6b6b;
  stroke: #c44d4d;
  stroke-width: 5px;
  transition: fill 250ms ease-in-out, stroke 250ms ease-in-out;
  &:hover,
  &:focus {
    fill: #9b59b6;
    stroke: #34495e;
  }
}
