body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}

header {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

h1 {
  margin: 0;
}
