.header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0;
  text-align: center;
  &-h1 {
    color: #8b7b9d; /* Ніжний фіолетово-сірий */
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}
